.container {
    height: 200px;
    width: 100px;
    background: #ebebec;
    position: relative;
    float: left;
    left: 0;
    top: 70px;
    border-radius: 6px;
    box-shadow: 8px 5px 5px grey;
    margin: 10px;
}
.upperSide, .downSide {
    position: relative;
    width: 100%;
    height: 50%;
}
.divider {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
    height: 3px;
    background: black;
    box-shadow: 0 3px white;
}
.cycle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: -webkit-radial-gradient(50% 80%, #ddd, black, black);
    border-radius: 50%;
}
#controls {
    clear: both;
    min-height: 70px;
    background-color: rgba(245, 245, 245, 0.5);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    position: fixed;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
#controls button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-family: sans-serif Helvetica;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 5px grey;
    display: block;
    margin: 10px;
    float: left;
}
.active {
    background-color: rgba(191, 191, 191, 0.7);
}
